@font-face {
    font-family: 'TelefonicaWeb-Regular';
    src: 
        url('../assets/fonts/TelefonicaWeb-Regular.eot')format('embedded-opentype'),
        url('../assets/fonts/TelefonicaWeb-Regular.woff') format('woff'), 
        url('../assets/fonts/TelefonicaWeb-Regular.svg') format('svg');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}


nav {
    background-color: white;
    height: 80px;
    width: 100%;
}
nav ul {
    float: right;
    margin-right: 550px;
    
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 14px;
    outline: 0px;
}
nav ul li select {
    border: 0px;
    outline: 0px;
    font-family: 'TelefonicaWeb-Regular';
    font-weight: bold;
    color: rgb(80, 83, 90);
    
}
label.logo {
    line-height: 80px;
    padding: 0;
    margin: 0;
}

img {
    height: 50px;
    position: absolute;
}

.checkbtn {
    font-size: 30px;
    color: green;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.btn {
    padding: 1em;
    margin: 0.5em 0em 0em 88%;
    width: 120px;
    height:max-content;
    display: inline-block;
    position: absolute;
    
    background-color: rgb(27, 169, 223);
    color: white;
    font-weight: bold;
    border-radius: 0.5ex;
    border-color: rgb(27, 169, 223);
    border-width: 0ch;
}

.icon-msg {
    position: absolute;
    top: 22px;
    right: 19%;
}

.icon-accesibility {
    position: absolute;
    top: 22px;
    right: 15%;
}


@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li select{
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin-right: 20px;
    }
    ul {
        position: absolute;
        background-color:rgb(27, 169, 223) ;
        width: 100%;
        top: 70px;
        left: -100%;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 5px;
    }
    nav ul li section {
        font-size: 20px;
    }
    #header-options {
        background-color: rgb(27, 169, 223);
        color: white;
        font-weight: bold;
    }

    #check:checked ~ body{
        left: 0;    
    }
    #check:checked ~ ul{
        left: 0;    
    }
    #check:checked ~ .button .btn {
        margin: 25em 0em 0em 29%;    
    }
    #check:checked ~ .icon-msg .icon-message {
        margin: 19em 0em 0em -350%;
    }
    #check:checked ~ .icon-accesibility .icon-acces{
        margin: 22em 0em 0em -400%;        
    }

    .button .btn {
        position: absolute;
        padding: 1em;
        margin: 25em 0em 0em -100%; 
        width: 40%;
        line-height: 5px;
    }
    .icon-msg .icon-message{
        position: relative;
        width: 100%;
        margin: 19em 0em 0em -10000%; 
        line-height: 5px;
    }
    .icon-accesibility .icon-acces {
        position:relative;
        width: 100%;
        margin: 22em 0em 0em -10000%; 
        line-height: 5px;
    }
}