<body>
    <main>
        <div class="card1">
            <div class="card1-body">
                <br>
                <br>
                <div class="card1-title">Tu plan actual</div>
                <br>
                <div class="card1-text">4.5 GB</div>
                <br>
                <br>
                <div class="card1-footer">$80.900 /mes</div>
            </div>
        </div>

        <div class="card2">
            <img src="assets/group-cards.png" alt="Group Cards">
            <div class="card2-body">
                <br>
                <br>
                <div class="card2-title">Tu nuevo plan incluye más gigas y más beneficios:</div>
                <br>
                <div class="card2-text">
                    30 GB
                </div>
                <div class="card2-addtext">
                    <p>Al consumir tus 30 GB navegarás <br> a una velocidad de 256 kbps </p>
                </div>
                <div style="margin: -2% 0px 0px 10%;" class="card2-footer">$99.900 /mes</div>
            </div>
        </div>

        <div class="add-number">
            <p>
                <input type="text" name="cellphone" placeholder="Ingresa tu número móvil" class="cellphone">
                <input type="button" value="Cambiarme ya" class="pass">
            </p>
            <label id="cbox1">
                <input type="checkbox" value="first_checkbox">
                    Acepto <a href="#">términos y condiciones</a> y autorizo el tratamiento de datos personales
            </label>
            <br>
        </div>
    </main>
</body>