<main>
    <body>
        <div class="main-text">
            <p>¡Cámbiate a un plan <br> con muchas más Gigas! </p>
        </div>
        <div class="add-number">
            <p>
                <input type="text" name="cellphone" placeholder="Ingresa tu número móvil" class="cellphone">
                <input type="button" value="Cambiarme ya" class="pass">
            </p>
            <label id="cbox1">
                <input type="checkbox" value="first_checkbox">
                    Acepto <a href="#">términos y condiciones</a> y autorizo el tratamiento de datos personales
            </label>
            <br>
        </div>
        <div>
            <img src="assets/movistar-man.png" alt="Happy man">
        </div>
        <div class="text">
            <p>Nuevo plan con muchas más Gigas en 4G/3G, minutos ilimitados <br>
                a todo operador, video, música y servicios que hacen más fácil tu vida 
            </p>
        </div>
        <div class="star">
            <a href="https://www.grupodot.com" target="_blank"><img src="assets/star.png" alt="Happy man" id="star-img"></a>
        </div>
    </body>
</main>