<main>
    <body>
        <div class="main-text">
            <p>¡Cámbiate a un plan <br> con muchas más Gigas! </p>
        </div>
        <div class="input">
            <p>
                <input type="text" name="cellphone" value="Ingresa tu número móvil" class="cellphone">
                <input type="button" value="Cambiarme ya" class="pass">
            </p>
            <label>
                <input type="checkbox" id="cbox1" value="first_checkbox">
                    Acepto <a>términos y condiciones</a> y autorizo el tratamiento de datos personales
            </label>
            <br>
        </div>
        <div>
            <img src="assets/movistar-man.png" alt="Happy man">
        </div>
    </body>
</main>